/* Navbar */

.navbar-toggler:focus {
outline-color: white;
opacity: 100%;
}

.navbar-brand, 
.nav-link {
  font-family: "Comfortaa";
}

.navbar {
  background-color: black;
}

 /* Page Styling */

 body {
  background : -webkit-linear-gradient(149.79deg, rgba(77, 77, 77, 1) 2.75%, rgba(66, 66, 66, 1) 12.18%, rgba(30, 30, 30, 1) 46.88%, rgba(8, 8, 8, 1) 75.15%, rgba(0, 0, 0, 1) 93.3%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  }

  h1 {
    color: black;
    font-size: 50px;
  }

.devlogo{
  width: 100%;
  margin-top: 15em;
}

.homeSpacer {
  height: 250px;
}

.designer {
  font-family: "Comfortaa", cursive;
}

.coder {
  font-weight: 400;
}