/* Zeroing out default padding */

/* Navbar */

.navbar-toggler:focus {
outline-color: white;
opacity: 100%;
}

.navbar-brand, 
.nav-link {
  color: white;
  font-family: "Comfortaa";
}

.navbar {
  background-color: black;
}

/* Home Section */

.devlogo{
  width: 100%;
  margin-top: 50px;
}

.homeSpacer {
  height: 200px;
}


/* About Section */

h1 {
  font-family: "Comfortaa";
  color: black;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about {
  position: relative;
  top: 50px;
}

.about-card {
  width: 75px;
}
